<% provide(:title, 'Manage' + " " + @care_group.name + " " + 'Care group members' )%>
<h1>Manage Care Group Members</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

  <% @patient.all.find_each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>