<h1>This will be the dashboard page</h1>
Signed in as <%= current_user.email %>
<li><%= link_to "Manage Patients", patients_path %></li>
<li><%= link_to "Manage Care Groups", care_groups_path %></li>
