<title> About Us </title>
<div class="container-fluid">
<h1>The Mindful Health Team</h1>
<div class="row team">
	<div class="col-sm-3">      
    <img src="http://s3.amazonaws.com/mht_assets/images/about_pic_fernando.png">
    </div><!-- /.span4 -->
    <div class="col-sm-7 col-md-8 col-lg-9 pull-right about">
        <h4><u>Chris Fernandez</u></h4>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    </div>    
</div><!-- /.row -->
<div class="row team">
	<div class="col-sm-3">      
    <img src="http://s3.amazonaws.com/mht_assets/images/about_pic_jared.png">
    </div><!-- /.span4 -->
    <div class="col-sm-7 col-md-8 col-lg-9 pull-right about">
    <h4><u>Jared Buckner</u></h4>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    </div>    
</div><!-- /.row -->
<div class="row team">
	<div class="col-sm-3">      
    <img src="http://s3.amazonaws.com/mht_assets/images/about_pic_olivia.png">
    </div><!-- /.span4 -->
    <div class="col-sm-7 col-md-8 col-lg-9 pull-right about">
    <h4><u>Olivia Rice</u></h4>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    </div>    
</div><!-- /.row -->
<div class="row team">
	<div class="col-sm-3">      
    <img src="http://s3.amazonaws.com/mht_assets/images/about_pic_mrglattard.png">
    </div><!-- /.span4 -->
    <div class="col-sm-7 col-md-8 col-lg-9 pull-right about">
    <h4><u>Mr. Glattard</u></h4>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    </div>    
</div><!-- /.row -->
</div><!--container-->
