@import "flatly/base";

// Flatly 3.1.1
// Bootswatch
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic");

/* all static pages */

body { 
  padding-top: 30px;
  
}

#home_page_hero_unit {
  background-image: url(http://s3.amazonaws.com/mht_assets/images/doc.jpg);
  background-size: 100%;
  background-repeat:no-repeat;
  height: 480px;
 
}

// Navbar =====================================================================
#logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  margin-left: 5%;
  color: white;
}

.navbar {
  border-width: 0;

  &-default {

    .badge {
      background-color: #fff;
      color: @navbar-default-bg;
    }
  }

  &-inverse {

    .badge {
      background-color: #fff;
      color: @navbar-inverse-bg;
    }
  }

  &-brand {
    padding: 18.5px 15px 20.5px;
  }
}

/* header */

#mh {
  padding-top: 30px;
  padding-right: 20px;
  text-align: right;
  color: black;
  
}
// Body content various pages =====================================================

// Home Page ============

#solution_row {

  margin:0 auto;
  text-align: center;
}

.center {
  text-align: center;
}

// Meet the Team ============

img {
  height: 250px;
  width: 250px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.header {
  padding-top: 20px;  
}

.team {
  padding-top: 50px;
}
// Dashboard page ==============

#row-top {
  padding-top: 30px;
  
}

#page-content-wrapper {
  width: 100%;
  padding-right:20px;
  padding-left:250px;
  position: relative;

}


.dbjumbo {
  padding-top: 30px;
  margin-bottom:30px;
  margin-right: 10px;
  
  height: 250px;
}

.welldb {
  margin-top: 30px;
  height: 90px;

  .btn {
    margin-top: 20px;
  }
}



//sidebar=========================================================

#sidebar-wrapper {
  float: left;
  margin-right: 150px;
  width: 17%;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  padding-top: 45px;
  


  background: -webkit-linear-gradient(left, #F2F6F6, #F2F6F6 ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #F2F6F6, #F2F6F6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #F2F6F6, #F2F6F6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #F2F6F6, #F2F6F6); /* Standard syntax */

}

.sidebar-nav {
  list-style: none;
    
    h4{
      padding-left: 5px;
    }

    li {
       margin-top: 8px;
       margin-bottom: 8px;
       text-decoration:underline;
       line-height: 40px;
       text-indent: 20px;

       a {
        display: block;
        text-decoration: none;
       }
    }

}




// Form pages w/ devise =======================================================

.input {
  width: 400px;
  height: auto !important; 
}

.header {
  .jumbotron {
  margin: auto;
  width: 550px;
  padding-bottom: 10px;
  padding-top: 10px;
  }
}

.forms {
  padding-top: 50px;
}

.links {
  padding-top: 5px;
  padding-bottom: 10px;
}

#unhappy{
  font-size: 16px;
}

// Buttons ====================================================================

.btn:active {
  .box-shadow(none);
}

.btn-group.open .dropdown-toggle {
  .box-shadow(none);
}

// Typography =================================================================

.text-primary,
.text-primary:hover {
  color: @brand-primary;
}

.text-success,
.text-success:hover {
  color: @brand-success;
}

.text-danger,
.text-danger:hover {
  color: @brand-danger;
}

.text-warning,
.text-warning:hover {
  color: @brand-warning;
}

.text-info,
.text-info:hover {
  color: @brand-info;
}

// Tables =====================================================================

table,
.table {
  padding-right: 20px;
  a {
    text-decoration: underline;
  }

  .success,
  .warning,
  .danger,
  .info {
    color: #fff;

    a {
      color: #fff;
    }
  }

  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    border: none;
  }

  &-bordered > thead > tr > th,
  &-bordered > tbody > tr > th,
  &-bordered > tfoot > tr > th,
  &-bordered > thead > tr > td,
  &-bordered > tbody > tr > td,
  &-bordered > tfoot > tr > td {
    border: 1px solid @table-border-color;
  }
}

// Forms ======================================================================

.form-control,
input, {
  border-width: 2px;
  .box-shadow(none);

  &:focus {
    .box-shadow(none);
  }
}

.has-warning {
  .help-block,
  .control-label {
    color: @brand-warning;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid @brand-warning;
  }
}

.has-error {
  .help-block,
  .control-label {
    color: @brand-danger;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid @brand-danger;
  }
}

.has-success {
  .help-block,
  .control-label {
    color: @brand-success;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid @brand-success;
  }
}

// Navs =======================================================================

.nav {
  .open > a,
  .open > a:hover,
  .open > a:focus {
    border-color: transparent;
  }
}

.pager {
  a,
  a:hover {
    color: #fff;
  }

  .disabled {
    &>a,
    &>a:hover,
    &>a:focus,
    &>span {
      background-color: @pagination-disabled-bg;
    }
  }
}



// Indicators =================================================================

.alert {

  a,
  .alert-link {
    color: #fff;
    text-decoration: underline;
  }

  .close {
    color: #fff;
    text-decoration: none;
    opacity: 0.4;

    &:hover,
    &:focus {
      color: #fff;
      opacity: 1;
    }
  }
}

// Progress bars ==============================================================

.progress {
  height: 10px;
  .box-shadow(none);
  .progress-bar {
    font-size: 10px;
    line-height: 10px;
  }
}

// Containers =================================================================

.well {
  .box-shadow(none);
}

// Footer

.footer {
  padding-bottom: 30px;
}
