<div class="container-fluid">
	<h2 class="text-center">Hello <%= @resource.email %>!</h2>

	<div class="span6 text-center">
		<p>One of your patients has dropped below their threshold value</p>

		<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

		<p>If you didn't request this, please ignore this email.</p>
		<p>Your password won't change until you access the link above and create a new one.</p>
	</div>
</div>