<% provide(:title, 'Edit:' + " " + @patient.name) %>
<div class="container">

	<%= render 'form' %>

	<div class="links"><%= link_to 'Show', @patient %> | <%= link_to 'Back', patients_path %></div>
</div>

