<div class="container">
	<h2 class="text-center">New patient</h2>
	<div class="row"><%= render 'form' %>
	<div class="links"><%= link_to 'Back', patients_path %></div></div>
</div>

<!--<div class="container">
<footer class="footer">
  <nav>
    <ul>
      
    </ul>
  </nav>
</footer>
</div>-->

