<% provide(:title, 'New Patient') %>


	<%= render 'form' %>

	<div class="links"><%= link_to 'Back', patients_path %></div>


<!--<div class="container">
<footer class="footer">
  <nav>
    <ul>
      
    </ul>
  </nav>
</footer>
</div>-->

