@import "bootstrap";
@import "tablecloth";

/*devise*/

.input {
	width: 400px;
	height: auto !important; 
}

.jumbotron {
	margin: auto;
	position: relative;
	width: 550px;
	padding-top: 1px;
	padding-bottom: 10px;

}

.links {
	padding-top: 5px;
	padding-bottom: 10px;
}

#unhappy{
	font-size: 16px;
}
