// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#row-top {
  padding-top: 30px;
  position: relative;
}
/*sidebar*/


.dbjumbo {
	margin-top: 15px;
	margin-bottom:10px;
	position: relative;
	height: 220px;
}

.well {
	margin-top: 10px;
}

#sidebar-wrapper {
  margin-left:-250px;
  margin-right:0px;
  left: 250px;
  width: 155px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 160px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top:60px;
  
    li {
      line-height: 40px;
      text-indent: 20px;
    }
}









#page-content-wrapper {
  width: 100%;
  padding-right:20px;
  padding-left:180px;
}