<div class="container">
<footer class="footer pull-right">
  <nav>

      <a><%= link_to "Contact", contact_path %></a>
   
  </nav>
  <% if user_signed_in? %> 
  	<div>Signed in as <%= current_user.email %></div>
  <% end %>
</footer>
</div>