<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav" id="side-nav">
  	<h4 class="row text-left"><u>Patient Managment</u></h4>
  		<div class="row text-left" id="patient_names"> 
      		<li><a>Bob Johnson</a></li>
      		<li><a>Alex Smith</a></li>
      		<li><a>Chris Carson</a></li>
      		<li><a>Jeff Anderson</a></li>
      	</div>  
  </ul>
 </div>