<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav" id="side-nav">
      <li> <%= link_to "Patient Management", patient_dashboard_index_path, :method => :get %>
      </li>  
  </ul>
      </div>